<!-- Wrap -->
<div class="row my-3">

  <!-- Board -->
  <div class="col-7 text-center">
    <canvas id="board" class="border rounded" width="600" height="600">
    </canvas>
  </div>

  <!-- UI -->
  <div class="col-5">
    <h2 id="game"></h2>
    <p id="status" class="lead"></p>
    <button id="restart" class="btn btn-outline-secondary btn-block">
      <i class="fas fa-sync-alt"></i>
      Restart
    </button>
    <a class="btn btn-outline-secondary btn-block" href="/play">
      <i class="fas fa-sign-out-alt"></i>
      Quit
    </a>
  </div>

</div>

<script type="module">
  // Is it legit ?
  import Game from '/javascripts/games/<%= game %>.mjs';
  import UserInterface from '/javascripts/uis/<%= game %>.mjs';
  import Player1 from '/javascripts/players/<%= player1 %>.mjs';
  import Player2 from '/javascripts/players/<%= player2 %>.mjs';

  // Live game manager
  import Manager from '/javascripts/managers/live.mjs';

  // Initialize game
  var game = new Game();
  var player1 = new Player1(game, 1);
  var player2 = new Player2(game, 2);
  var manager = new Manager(game, player1, player2);
  var ui = new UserInterface(game, manager);

  // Start
  manager.start();
  ui.update();
</script>