<!-- Wrap -->
<div id="code">

  <!-- Splash -->
  <h1 class="my-5"><i class="fas fa-code text-secondary"></i> Code</h1>

  <div class="row">
    <div class="col-4">
      <p class="lead">
        Code your AI in the editor. Check that your code passes the unit tests
        before uploading it.
      </p>
      <button id="unittest" class="btn btn-outline-secondary btn-block">
        <i class="fas fa-play"></i>
        Run tests
      </button>
      <button id="upload" class="btn btn-outline-secondary btn-block" disabled>
        <i class="fas fa-upload"></i>
        Upload
      </button>
    </div>
    <div id="editor" class="col-8">
    </div>
  </div>

</div>

<!-- CodeMirror -->
<link rel="stylesheet" href="/libs/codemirror-5.54.0/lib/codemirror.css">
<script src="/libs/codemirror-5.54.0/lib/codemirror.js"></script>
<script src="/libs/codemirror-5.54.0/mode/javascript/javascript.js"></script>
<script>
  const template = "class YourSuperAIName extends Player {\n\tconstructor(game, turn) {\n\t\tsuper(game, turn, 'YourSuperAIName', true);\n\t}\n\n\t/**\n\t* Following methods need to be implemented by the player.\n\t*/\n\tmove() {\n\t\treturn;\n\t}\n}\n";
  const codeMirror = CodeMirror(editor, {
    value: template,
    mode: 'javascript',
    lineNumbers: true,
    tabSize: 2
  });
</script>

<!-- Tester -->
<script type="module">
  import Feedback from '/javascripts/uis/tester.mjs';
  import Tester from '/javascripts/engine/tester.mjs';

  const tester = new Tester();

  codeMirror.on('focus', Feedback.reset);

  unittest.onclick = function() {
    tester.parse(codeMirror.getValue());   
    tester.test() ? Feedback.unittestSuccess() : Feedback.unittestFail();
  };

  upload.onclick = async function() {
    Feedback.uploadWait();
    await fetch('/upload', {
      method: 'post',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(tester.infos)
    });
    Feedback.uploadSuccess();
  };
</script>