<!-- Presets -->
<% 
  const cards = [
    {
      icon: 'gamepad',
      title: 'Play',
      description: 'Play a game with a friend, against an AI, or just look at\
      AIs fighting each other.',
      link: 'play'
    },
    {
      icon: 'code',
      title: 'Code',
      description: 'Code your own AI and make it compete against human players\
      or other AIs.',
      link: 'code',
    },
    {
      icon: 'trophy',
      title: 'League',
      description: 'See the leaderboard of the best AIs.',
      link: 'league'
    }
  ];
%>

<!-- Wrap -->
<div id="home">

  <!-- Splash -->
  <div class="text-center my-5">
    <p class="text-center text-secondary my-0">
      <i class="fas fa-5x fa-dice"></i>
    </p>
    <h1 class="display-1 text-center">
      ai.io
    </h1>
  </div>

  <!-- Cards -->
  <div class="d-flex justify-content-center"> 
    <% cards.forEach(({ icon, title, description, link }) => { %>
      <div class="card text-center mx-3 p-3" style="flex: 1">
        <div class="card-body">
          <i class="fas fa-2x fa-<%= icon %> text-secondary pb-2"></i>
          <h3 class="card-title "><%= title %></h3>
          <p class="card-text text-secondary mb-0"><%= description %></p>
          <a href="/<%= link %>" class="stretched-link"></a>
        </div>
      </div>
    <% }); %>
  </div>

</div>