<!-- Wrap -->
<div id="league">

  <!-- Splash -->
  <h1 class="my-5"><i class="fas fa-trophy text-secondary"></i> League</h1>

  <!-- List -->
  <% Object.entries(games).forEach(([key, game]) => { %>

    <div class="d-flex justify-content-between mt-5 mb-3">
      <!-- Header -->
      <h2><i class="fas fa-gamepad text-secondary"></i> <%= game %></h2>

      <!-- Update -->
      <% if (lock[key]) { %>
        <a href="/update/<%= key %>" class="btn btn-lg btn-outline-secondary disabled">
          <i class="fas fa-spin fa-sync-alt"></i> Updating
        </a>
      <% } else { %>
        <a href="/update/<%= key %>" class="btn btn-lg btn-outline-secondary">
          <i class="fas fa-sync-alt"></i> Update
        </a>
      <% } %>
    </div>

    <!-- League -->
    <table class="table border">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>AI</th>
          <th>Win rate</th>
        </tr>
      </thead>
      <tbody>
        <% 
          const league = Object.values(leagues[key]).sort(
            (a, b) => b.winrate - a.winrate
          );
          league.forEach(({ name, winrate }, rank) => {
        %>
          <tr>
            <th><%= rank + 1 %></th>
            <td><%= name %></td>
            <td><%= winrate %>%</td>
          </tr>
        <% }); %>
      </tbody>
    </table>

  <% }); %>

</div>