<!-- Wrap -->
<div id="play">

  <!-- Splash -->
  <h1 class="my-5"><i class="fas fa-gamepad text-secondary"></i> Play</h1>

  <!-- Form -->
  <form action="/board" method="post">

    <!-- Select game -->
    <h2>Which game ?</h2>
    <select name="game" class="custom-select custom-select-lg">
      <% Object.entries(games).forEach(([key, game]) => { %>
        <option value="<%= key %>"><%= game %></option>
      <% }); %>
    </select>

    <!-- Select mode -->
    <h2>Who is playing ?</h2>
    <div class="row">
      <% [1, 2].forEach(player => { %>
        <% 
          const dice = player === 1 ? 'one' : 'two';
          const color = player === 1 ? 'primary' : 'danger';  
        %> 
        <div class="col">
          <h3>
            <i class="fas fa-dice-<%= dice %> text-<%= color %> pb-2"></i>
            Player <%= player %>
          </h3>
          <select name="player<%= player %>" class="custom-select custom-select-lg">
            <optgroup label="Human">
              <option value="human">Human player</option>
            </optgroup>
            <optgroup label="AIs">
              <% Object.entries(players).forEach(([key, player]) => { %>
                <option value="<%= key %>"><%= player %></option>
              <% }); %>
            </optgroup>
          </select>
        </div>
      <% }); %>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-block btn-lg btn-outline-secondary">
      <i class="fas fa-gamepad"></i> Play !
    </button>

  </form>

</div>

