<!DOCTYPE html>
<html>
  <head>
    <%- include('commons/head') %>
  </head>
  <body>
    <%- include('commons/nav') %>
    <div class="container">
      <%- include(`pages/${page}`) %>
    </div>
  </body>
</html>
