<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
    <i class="fas fa-dice text-secondary"></i> ai.io
  </a>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu -->
  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= title === 'Play' ? 'active': '' %>" href="/play">Play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title === 'Code' ? 'active': '' %>" href="/code">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= title === 'League' ? 'active': '' %>" href="/league">League</a>
      </li>
    </ul>
  </div>

</nav>